<div class = 'row hero_image'>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
  <h1 class="hero">Trace</h1>
  <p class="tagline">your tracks around the world</p>
  </div>
  <div class="col-md-2">
  </div>
</div>
<!-- <div class ="col-md-8">
<div class ="col-md-4">

</div>
</div> -->
<!-- <div class = 'row'>
  <div class="col-md-4 destination_thumb">thailand</div>
  <div class="col-md-4 destination_thumb">spain</div>
  <div class="col-md-4 destination_thumb">iceland</div>
</div> -->
<section class="module content">
  <div class="row1">
  </div>
<section>
<section class="module parallax parallax-1">
  <div class="container">
    <h1>Limitless</h1>
  </div>
</section>
 <section class="module content">
    <div class="row1">
    <p class="quotes">Travel is the only thing you buy that makes you richer
   </p>
  </div>
</section>
<section class="module parallax parallax-2">
 <div class="container">
    <h1>Raw</h1>
  </div>
</section>
<section class="module content">
    <div class="row1">
    <p class="quotes">Not all those who wander are lost -J.R.R. Tolkien
   </p>
  </div>
</section>
<section class="module parallax parallax-3">
   <div class="container">
      <h1>Magical</h1>
    </div>
</section>
</div>
