<h1>Travel Chronicles</h1>
<!-- <div class ="col-md-8">
<div class ="col-md-4">

</div>
</div> -->
<div class = 'row'>
  <div class="col-md-4 destination_thumb">thailand</div>
  <div class="col-md-4 destination_thumb">spain</div>
  <div class="col-md-4 destination_thumb">iceland</div>
</div>
