// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);
body {
    font-family: 'Raleway', sans-serif;
}
.navbar-default {
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
}
input {
    width: 40%;
}
.destination_row {
    margin-top: 30px;
    margin-bottom: 30px;
}
.destination_header {
    text-align: left;
    padding: 20px;
    font-family: 'Raleway Dots', cursive;
    color: #993955;
}
.destination_header h1 {
    font-size: 4em;
}
.destination-photos {
    color: EAEBED;
    max-height: 400px;
    overflow: scroll;
}
.destination_thumb {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid EAEBED;
    padding: 10px;
    text-align: center;
    color: EAEBED;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.thumb {
    border-radius: 50%;
    box-sizing: border-box;
}
.profile_heading {
    margin-top: 40px;
    margin-bottom: 40px;
}
.profile_pic {
    text-align: center;
    background-position: cover;
}
.login_form {
    /*border-right: black dotted 3px;*/
}
.login_row {
    padding-top: 50px;
    padding-bottom: 50px;
    /*border: #94C5CC solid 3px;
  border-radius: 10px;
  background-color: rgba(148, 197, 204, 0.15);*/
}
.facebook_div {
    padding-top: 100px;
    text-align: center;
}
.fb_button {
    margin: 0 auto;
}
.form-control {
    /*width: 50%;*/
}
.fbarea {
    /*border-left: black solid 2p;*/
}
.quotes {
    text-align: center;
    /*color: #EAEBED;*/
}
.edit_link {
    text-align: right;
}
.hero_image {
    /*background-image: url('balloon.jpg');*/
    /*width: 100%;

  background-repeat: no-repeat;
  background-size: contain;*/
    /*background-position: cover;*/
}
.hero {
    font-family: 'Raleway Dots', cursive;
    font-size: 15em;
    letter-spacing: 8px;
    text-align: center;
    color: #993955;
}
.tagline {
    text-align: center;
    font-size: 2em;
    font-family: 'Raleway Dots', cursive;
}
.brand_font {
    font-family: 'Raleway Dots', cursive;
    font-size: 1.5em;
}
.controls {
    padding-top: 20px;
}
.photo-content img {
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
footer{
  text-align: center;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
    margin-bottom: 0;
}
/*section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;*/
/*}*/
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 36px;
    line-height: 600px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
    background-image: image-url("balloon.jpg");
}
section.module.parallax-2 {
    background-image: image-url("lion.jpg");
}
section.module.parallax-3 {
    background-image: image-url("ocean.jpg");
}
@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}
